#header_wrap {
    display: block
}

#profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#title-section {
    text-align: center;
}

img {
    border: 0px solid #ebebeb;
    box-shadow: 0 0 0px #ebebeb;
    -webkit-box-shadow: 0 0 0px #ebebeb;
}

.inner {
    max-width: 50%;
}

element {
    padding-left: 0px;
    padding-right: 0px;
  }