#header_wrap {
    display: block
}

#profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#title-section {
    text-align: center;
}

img {
    border: 0px solid #ebebeb;
    box-shadow: 0 0 0px #ebebeb;
    -webkit-box-shadow: 0 0 0px #ebebeb;
}

.inner {
    max-width: 50%;
}

.tab > * > a {
    font-size: 17px;
    border-bottom: 3px solid transparent;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

h2 {
    padding-bottom: 3px;
    padding-top: 3px;
    font-size: 32px;
    background: url("../images/bg_hr.png") repeat-x bottom, url("../images/bg_hr.png") repeat-x top;
    background-size: 400% 100px, 400% 100px;
}