.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-div {
    padding: 12px;
    display: flex;
    width: 35px;
    height: 35px;
}

.link {
    display: flex;
}

.icon {
    flex: 1;
    max-width: 100%;
}